/**********************************
General
*********************************/
body {
  background-color: snow;
  font-size: .7em;
  font-family: 'Titillium Web', sans-serif; }

.container {
  width: 500px;
  height: 500px;
  background-color: #212F3C;
  margin: auto;
  border-radius: 2%;
  border: 5px dotted black; }

.wrapper {
  background-color: #212F3C;
  margin: auto;
  width: 95%;
  height: 95%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

/**********************************
Newspaper details
*********************************/
h1, h3 {
  display: inline-block; }

h1 {
  font-family: 'Fascinate Inline', cursive; }

h3 {
  max-width: 15%;
  border: 1px solid black;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: .95em; }

.title {
  display: flex;
  justify-content: space-between; }

h4 {
  display: flex;
  justify-content: space-between;
  margin: 2px; }

h2 {
  text-align: center;
  margin: 2px; }

p {
  font-family: 'Muli', sans-serif;
  text-align: justify; }

p:first-child:first-letter {
  color: red; }

.newspaper {
  background-color: ivory;
  border-radius: 5% 5% 1% 1%;
  width: 50%;
  transform-origin: center;
  padding: 10px 30px;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 2px 2px 4px black, -2px -2px 4px black; }

.size-in {
  transform: scale(1);
  animation: size-in 3s 1;
  display: flex;
  align-items: center;
  justify-content: center; }

/**********************************
Add animations here
*********************************/
.newspaper {
  animation: spin .5s 5 linear; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.newspaper-zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform-origin: center;
  animation: zoomin 1s 1 linear; }

@-moz-keyframes zoomin {
  0% {
    -moz-transform: scale(0, 0); }
  30% {
    -moz-transform: scale(0, 0); }
  75% {
    -moz-transform: scale(1.2, 1.2); }
  80% {
    -moz-transform: scale(1, 1); }
  100% {
    -moz-transform: scale(1, 1); } }

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0, 0); }
  30% {
    -webkit-transform: scale(0, 0); }
  75% {
    -webkit-transform: scale(1.2, 1.2); }
  80% {
    -webkit-transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1, 1); } }

@keyframes zoomin {
  0% {
    transform: scale(0, 0); }
  30% {
    transform: scale(0, 0); }
  75% {
    transform: scale(1.2, 1.2); }
  80% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 1); } }
